.homepage {
    flex: 5;
}

.subComponent {
    flex: 3;
    display: flex;
    position: relative;
    flex-direction: row !important;
}

.game {
    flex: 3;
    display: flex;
    position: relative;
    flex-direction: row !important;
}

.rowContain {
    display: flex;
    position: relative;
    flex-direction: row;
}

.MuiGrid-spacing-xs-3 {
    margin: 10px 10px 0px !important;
    align-items: center;
}